/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: verdana;
	font-size: 13px;
	line-height: 1.4;
	color: #404040;
	background-color: #9ac5e7;
	background-image: url("../images/fond.jpg");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#page{
	width: 780px;
	background-color: #EFF6FF;
	border: solid;
	border-color: #8ABCFD;
	border-right: 2px;
	border-left: 2px;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
h1,h2,h3{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
h1{
	font-size: 21px;
}
h2{
	font-size: 18px;
	border-bottom-style:solid;
	border-bottom-color: #FF9B37;
	border-bottom-width: 2px;
}
h3{
	font-size: 15px;
	margin-left: 1em;
}
p{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 0em;
}
strong{
	font-weight: bold;
 }
a{
	font-weight: bold;
	text-decoration: none;
	color: #FF9B37;
}
a:hover{
	text-decoration: underline;
}
ul{
	margin-right: none;
	margin-left: 5em;
	list-style-image: url("../images/puce.png");
}
#nav{
	margin: 0 0 0 2em;
}
ul ul{
	margin-left: 3em;
}
ul ul li{
	margin-top: 0,5em;
	margin-bottom: 0,5em;
}
#images{
	width:410px;
	height:250px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#agenda{
	position: absolute;
	top:15px;
	bottom:0;
	left:145px;
	right:0;
}
#reseau{
	position: absolute;
	top:40px;
	bottom:0;
	left:0;
	right:0;
}
#lecteur{
	position: absolute;
	top:135px;
	bottom:0;
	left:150px;
	right:0;
}
#calendrier{
	position: absolute;
	top:65px;
	bottom:0;
	left:265px;
	right:0;
}
#bandeau{
	float: right;
	border-style: solid;
	border-color: #8ABCFD;
	border-width: 2px;
	position: relative;
	right: -58px;
}
#usbrouge{
	float: left;
	
}
#usbbleu{
	float: right;
	position: relative;
	bottom: 15px;
}
#som7{
	clear: both;
}
footer{
	width: 780px;
	background-color: #EFF6FF;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}